USE [task_management]
GO
/****** Object:  Table [dbo].[activity_logs]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[action] [nvarchar](100) NULL,
	[created_at] [datetime2](6) NULL,
	[description] [nvarchar](max) NULL,
	[task_id] [bigint] NULL,
	[user_id] [bigint] NULL,
	[module] [varchar](50) NULL,
	[entity_id] [bigint] NULL,
	[ip_address] [varchar](45) NULL,
	[result] [varchar](20) NULL,
 CONSTRAINT [PK_ACTIVITY_LOGS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attachments]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attachments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[file_name] [nvarchar](255) NULL,
	[file_path] [nvarchar](500) NULL,
	[uploaded_at] [datetime2](6) NULL,
	[task_id] [bigint] NULL,
	[file_size] [bigint] NULL,
	[file_type] [nvarchar](100) NULL,
	[uploaded_by_id] [bigint] NULL,
 CONSTRAINT [PK_ATTACHMENTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATABASECHANGELOG]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATABASECHANGELOG](
	[ID] [nvarchar](255) NOT NULL,
	[AUTHOR] [nvarchar](255) NOT NULL,
	[FILENAME] [nvarchar](255) NOT NULL,
	[DATEEXECUTED] [datetime2](3) NOT NULL,
	[ORDEREXECUTED] [int] NOT NULL,
	[EXECTYPE] [nvarchar](10) NOT NULL,
	[MD5SUM] [nvarchar](35) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[COMMENTS] [nvarchar](255) NULL,
	[TAG] [nvarchar](255) NULL,
	[LIQUIBASE] [nvarchar](20) NULL,
	[CONTEXTS] [nvarchar](255) NULL,
	[LABELS] [nvarchar](255) NULL,
	[DEPLOYMENT_ID] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATABASECHANGELOGLOCK]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATABASECHANGELOGLOCK](
	[ID] [int] NOT NULL,
	[LOCKED] [bit] NOT NULL,
	[LOCKGRANTED] [datetime2](3) NULL,
	[LOCKEDBY] [nvarchar](255) NULL,
 CONSTRAINT [PK_DATABASECHANGELOGLOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[message] [nvarchar](1000) NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[related_entity_id] [bigint] NULL,
 CONSTRAINT [PK_NOTIFICATIONS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[token] [varchar](500) NOT NULL,
	[expiry_date] [datetime2](6) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[user_id] [bigint] NOT NULL,
	[used] [bit] NOT NULL,
 CONSTRAINT [PK_PASSWORD_RESET_TOKENS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[positions]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_POSITIONS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project_members]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project_members](
	[project_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[role] [varchar](50) NOT NULL,
 CONSTRAINT [pk_project_members] PRIMARY KEY CLUSTERED 
(
	[project_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[projects]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projects](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[end_date] [date] NULL,
	[project_code] [varchar](255) NOT NULL,
	[project_name] [varchar](255) NOT NULL,
	[start_date] [date] NULL,
	[status] [varchar](255) NULL,
 CONSTRAINT [PK_PROJECTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_tokens]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[token] [varchar](500) NOT NULL,
	[expiry_date] [datetime2](6) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[user_id] [bigint] NOT NULL,
	[revoked] [bit] NOT NULL,
 CONSTRAINT [PK_REFRESH_TOKENS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[name] [varchar](255) NOT NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_config]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_config](
	[config_key] [varchar](100) NOT NULL,
	[config_value] [nvarchar](max) NULL,
	[description] [nvarchar](255) NULL,
	[updated_at] [datetime] NOT NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_SYSTEM_CONFIG] PRIMARY KEY CLUSTERED 
(
	[config_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task_comments]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_comments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[task_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[parent_id] [bigint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_TASK_COMMENTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NULL,
	[due_date] [date] NULL,
	[priority] [varchar](255) NULL,
	[start_date] [date] NULL,
	[status] [varchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[assignee_id] [bigint] NULL,
	[project_id] [bigint] NULL,
 CONSTRAINT [PK_TASKS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_positions]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_positions](
	[user_id] [bigint] NOT NULL,
	[position_id] [bigint] NOT NULL,
 CONSTRAINT [PK_USER_POSITIONS] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL,
 CONSTRAINT [PK_USER_ROLES] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/3/2026 1:20:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[full_name] [nvarchar](100) NULL,
	[password] [varchar](255) NULL,
	[phone] [varchar](20) NULL,
	[status] [bit] NULL,
	[username] [varchar](255) NULL,
	[active] [bit] NULL,
	[created_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[activity_logs] ON 

INSERT [dbo].[activity_logs] ([id], [action], [created_at], [description], [task_id], [user_id], [module], [entity_id], [ip_address], [result]) VALUES (1, N'CREATE_TASK', CAST(N'2026-06-29T03:39:24.6927550' AS DateTime2), N'Created task: Test Task', 26, 1, N'TASK', NULL, N'SYSTEM', N'SUCCESS')
INSERT [dbo].[activity_logs] ([id], [action], [created_at], [description], [task_id], [user_id], [module], [entity_id], [ip_address], [result]) VALUES (2, N'UPDATE_TASK', CAST(N'2026-06-29T03:39:24.7365130' AS DateTime2), N'Updated task: Test Task Updated', 26, 1, N'TASK', NULL, N'SYSTEM', N'SUCCESS')
INSERT [dbo].[activity_logs] ([id], [action], [created_at], [description], [task_id], [user_id], [module], [entity_id], [ip_address], [result]) VALUES (3, N'UPDATE_TASK_STATUS', CAST(N'2026-06-29T03:39:24.7770860' AS DateTime2), N'Updated task status from IN_PROGRESS to DONE', 26, 1, N'TASK', NULL, N'SYSTEM', N'SUCCESS')
SET IDENTITY_INSERT [dbo].[activity_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[attachments] ON 

INSERT [dbo].[attachments] ([id], [file_name], [file_path], [uploaded_at], [task_id], [file_size], [file_type], [uploaded_by_id]) VALUES (1, N'dummy.pdf', N'/app/uploads/318a6d9c-8d0e-4f4c-a5ce-ceda5ff6aa47_dummy.pdf', CAST(N'2026-07-01T07:28:52.2389060' AS DateTime2), 1, 24, N'application/pdf', NULL)
INSERT [dbo].[attachments] ([id], [file_name], [file_path], [uploaded_at], [task_id], [file_size], [file_type], [uploaded_by_id]) VALUES (3, N'dummy.docx', N'/app/uploads/312a9fba-5957-4566-9bd3-7997745265f5_dummy.docx', CAST(N'2026-07-01T07:28:52.6819680' AS DateTime2), 1, 26, N'application/octet-stream', NULL)
INSERT [dbo].[attachments] ([id], [file_name], [file_path], [uploaded_at], [task_id], [file_size], [file_type], [uploaded_by_id]) VALUES (4, N'dummy.pdf', N'/app/uploads/18718c62-6d57-4512-a8fb-5a6154a2fcd8_dummy.pdf', CAST(N'2026-07-01T07:35:18.5352750' AS DateTime2), 28, 24, N'application/pdf', NULL)
SET IDENTITY_INSERT [dbo].[attachments] OFF
GO
INSERT [dbo].[DATABASECHANGELOG] ([ID], [AUTHOR], [FILENAME], [DATEEXECUTED], [ORDEREXECUTED], [EXECTYPE], [MD5SUM], [DESCRIPTION], [COMMENTS], [TAG], [LIQUIBASE], [CONTEXTS], [LABELS], [DEPLOYMENT_ID]) VALUES (N'1', N'phong', N'db/changelog/001-create-roles.xml', CAST(N'2026-06-29T03:38:53.2500000' AS DateTime2), 1, N'EXECUTED', N'9:580fbc4d26dcb717b6042be6bb798337', N'createTable tableName=roles; insert tableName=roles; insert tableName=roles; insert tableName=roles', N'', NULL, N'4.31.1', NULL, NULL, N'2704331876')
INSERT [dbo].[DATABASECHANGELOG] ([ID], [AUTHOR], [FILENAME], [DATEEXECUTED], [ORDEREXECUTED], [EXECTYPE], [MD5SUM], [DESCRIPTION], [COMMENTS], [TAG], [LIQUIBASE], [CONTEXTS], [LABELS], [DEPLOYMENT_ID]) VALUES (N'2', N'phong', N'db/changelog/002-create-positions.xml', CAST(N'2026-06-29T03:38:53.2700000' AS DateTime2), 2, N'EXECUTED', N'9:a6198cc704a34674bc3376c4cfa715ae', N'createTable tableName=positions; insert tableName=positions; insert tableName=positions; insert tableName=positions', N'', NULL, N'4.31.1', NULL, NULL, N'2704331876')
GO
INSERT [dbo].[DATABASECHANGELOGLOCK] ([ID], [LOCKED], [LOCKGRANTED], [LOCKEDBY]) VALUES (1, 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [user_id], [title], [message], [is_read], [created_at], [type], [related_entity_id]) VALUES (1, 1, N'New task assigned to you', N'You have been assigned: Design database schema in E-Commerce Platform', 1, CAST(N'2026-06-29T03:38:53.6733333' AS DateTime2), N'INFO', NULL)
INSERT [dbo].[notifications] ([id], [user_id], [title], [message], [is_read], [created_at], [type], [related_entity_id]) VALUES (2, 1, N'Task completed', N'Task ''Implement JWT authentication'' has been marked as DONE', 1, CAST(N'2026-06-29T03:38:53.6800000' AS DateTime2), N'INFO', NULL)
INSERT [dbo].[notifications] ([id], [user_id], [title], [message], [is_read], [created_at], [type], [related_entity_id]) VALUES (3, 1, N'Project deadline approaching', N'Mobile Banking App project deadline is in 30 days. Review progress.', 1, CAST(N'2026-06-29T03:38:53.6833333' AS DateTime2), N'INFO', NULL)
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[positions] ON 

INSERT [dbo].[positions] ([id], [description], [name]) VALUES (1, N'Java Spring Boot Developer', N'Backend Developer')
INSERT [dbo].[positions] ([id], [description], [name]) VALUES (2, N'ReactJS Developer', N'Frontend Developer')
INSERT [dbo].[positions] ([id], [description], [name]) VALUES (3, N'Software Tester', N'QA Tester')
SET IDENTITY_INSERT [dbo].[positions] OFF
GO
SET IDENTITY_INSERT [dbo].[projects] ON 

INSERT [dbo].[projects] ([id], [description], [end_date], [project_code], [project_name], [start_date], [status]) VALUES (1, N'Spring Boot Internship Project', CAST(N'2026-08-01' AS Date), N'PRJ001', N'Task Management System', CAST(N'2026-06-01' AS Date), N'IN_PROGRESS')
INSERT [dbo].[projects] ([id], [description], [end_date], [project_code], [project_name], [start_date], [status]) VALUES (2, N'Build a full-featured e-commerce platform with payment gateway integration.', CAST(N'2026-12-31' AS Date), N'ECP-001', N'E-Commerce Platform', CAST(N'2026-01-15' AS Date), N'IN_PROGRESS')
INSERT [dbo].[projects] ([id], [description], [end_date], [project_code], [project_name], [start_date], [status]) VALUES (3, N'Develop a secure mobile banking application for iOS and Android.', CAST(N'2026-09-30' AS Date), N'MBA-002', N'Mobile Banking App', CAST(N'2026-02-01' AS Date), N'IN_PROGRESS')
SET IDENTITY_INSERT [dbo].[projects] OFF
GO
SET IDENTITY_INSERT [dbo].[refresh_tokens] ON 

INSERT [dbo].[refresh_tokens] ([id], [token], [expiry_date], [created_at], [user_id], [revoked]) VALUES (1, N'f16d0f02-776c-4c5f-9324-ddbdb7137175', CAST(N'2026-07-06T03:39:24.4571440' AS DateTime2), CAST(N'2026-06-29T03:39:24.4603310' AS DateTime2), 1, 1)
INSERT [dbo].[refresh_tokens] ([id], [token], [expiry_date], [created_at], [user_id], [revoked]) VALUES (2, N'7a068b89-0afc-491f-a86c-d0e2099ddefd', CAST(N'2026-07-06T03:39:24.6100500' AS DateTime2), CAST(N'2026-06-29T03:39:24.6101600' AS DateTime2), 2, 0)
INSERT [dbo].[refresh_tokens] ([id], [token], [expiry_date], [created_at], [user_id], [revoked]) VALUES (3, N'4ddc1e6d-e211-4b27-8f27-ccb4a55b0954', CAST(N'2026-07-06T04:00:01.8684830' AS DateTime2), CAST(N'2026-06-29T04:00:01.8685750' AS DateTime2), 3, 1)
SET IDENTITY_INSERT [dbo].[refresh_tokens] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [description], [name]) VALUES (1, N'Administrator', N'ADMIN')
INSERT [dbo].[roles] ([id], [description], [name]) VALUES (2, N'Project Manager', N'MANAGER')
INSERT [dbo].[roles] ([id], [description], [name]) VALUES (3, N'Employee', N'EMPLOYEE')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
INSERT [dbo].[system_config] ([config_key], [config_value], [description], [updated_at], [updated_by]) VALUES (N'ALLOW_USER_REGISTRATION', N'true', N'Allow public user registration', CAST(N'2026-06-29T08:56:21.090' AS DateTime), N'SYSTEM')
INSERT [dbo].[system_config] ([config_key], [config_value], [description], [updated_at], [updated_by]) VALUES (N'APP_NAME', N'Enterprise Task Manager', N'Application Name', CAST(N'2026-06-29T08:56:21.090' AS DateTime), N'SYSTEM')
INSERT [dbo].[system_config] ([config_key], [config_value], [description], [updated_at], [updated_by]) VALUES (N'MAX_FILE_UPLOAD_SIZE_MB', N'10', N'Maximum attachment file size in MB', CAST(N'2026-06-29T08:56:21.093' AS DateTime), N'SYSTEM')
GO
SET IDENTITY_INSERT [dbo].[task_comments] ON 

INSERT [dbo].[task_comments] ([id], [task_id], [user_id], [content], [parent_id], [created_at], [updated_at]) VALUES (2, 28, 1, N'hehe', NULL, CAST(N'2026-07-01T07:41:16.433' AS DateTime), CAST(N'2026-07-01T07:41:16.433' AS DateTime))
INSERT [dbo].[task_comments] ([id], [task_id], [user_id], [content], [parent_id], [created_at], [updated_at]) VALUES (3, 28, 1, N'hehe', 2, CAST(N'2026-07-01T09:10:34.607' AS DateTime), CAST(N'2026-07-01T09:10:34.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[task_comments] OFF
GO
SET IDENTITY_INSERT [dbo].[tasks] ON 

INSERT [dbo].[tasks] ([id], [description], [due_date], [priority], [start_date], [status], [title], [assignee_id], [project_id]) VALUES (1, N'Design the complete ER diagram and database schema for the e-commerce platform.', CAST(N'2026-02-01' AS Date), N'HIGH', CAST(N'2026-01-15' AS Date), N'DONE', N'Design database schema', 1, 2)
INSERT [dbo].[tasks] ([id], [description], [due_date], [priority], [start_date], [status], [title], [assignee_id], [project_id]) VALUES (2, N'Implement secure JWT-based authentication with refresh token rotation.', CAST(N'2026-02-15' AS Date), N'HIGH', CAST(N'2026-02-01' AS Date), N'DONE', N'Implement JWT authentication', 1, 2)
INSERT [dbo].[tasks] ([id], [description], [due_date], [priority], [start_date], [status], [title], [assignee_id], [project_id]) VALUES (3, N'Create RESTful APIs for product listing, search, and filtering.', CAST(N'2026-03-01' AS Date), N'HIGH', CAST(N'2026-02-15' AS Date), N'IN_PROGRESS', N'Build product catalog API', NULL, 2)
SET IDENTITY_INSERT [dbo].[tasks] OFF
GO
INSERT [dbo].[user_positions] ([user_id], [position_id]) VALUES (3, 3)
INSERT [dbo].[user_positions] ([user_id], [position_id]) VALUES (3, 4)
GO
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (2, 2)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [full_name], [password], [phone], [status], [username], [active], [created_at], [updated_at]) VALUES (1, N'admin@gmail.com', N'System Administrator', N'$2a$10$rtz5qG8MfisCdzLIMLRe9eVCuy/.gIbM5nfzSWt2cqZ3smQ1mngzy', NULL, 1, N'admin', 1, NULL, NULL)
INSERT [dbo].[users] ([id], [email], [full_name], [password], [phone], [status], [username], [active], [created_at], [updated_at]) VALUES (2, N'manager@gmail.com', N'Project Manager', N'$2a$10$KRtGuQw.tfTEjLvbxQ34R.sG11G4Ram/ccEuVmPfe.9.E.HzVyJ/C', NULL, 1, N'manager', 1, NULL, NULL)
INSERT [dbo].[users] ([id], [email], [full_name], [password], [phone], [status], [username], [active], [created_at], [updated_at]) VALUES (3, N'nguyenvana@gmail.com', N'Nguyễn Văn A', N'$2a$10$YEP2WdJrMUUdB4rtpYRm3uS1QGbHBA1TTOevZQ7i4czs4qYT/Ltcu', N'0911111111', NULL, N'nguyenvana', 1, CAST(N'2026-06-29T03:59:03.8736840' AS DateTime2), CAST(N'2026-06-29T03:59:03.8736890' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK1batb7mq0elcfcs3d6maqo6sg]    Script Date: 7/3/2026 1:20:27 PM ******/
ALTER TABLE [dbo].[projects] ADD  CONSTRAINT [UK1batb7mq0elcfcs3d6maqo6sg] UNIQUE NONCLUSTERED 
(
	[project_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKofx66keruapi6vyqpv6f2or37]    Script Date: 7/3/2026 1:20:27 PM ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UKofx66keruapi6vyqpv6f2or37] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uc_users_email]    Script Date: 7/3/2026 1:20:27 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [uc_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uc_users_username]    Script Date: 7/3/2026 1:20:27 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [uc_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[notifications] ADD  CONSTRAINT [DF_notifications_is_read]  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  CONSTRAINT [DF_notifications_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notifications] ADD  CONSTRAINT [DF_notifications_type]  DEFAULT ('INFO') FOR [type]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  CONSTRAINT [DF_password_reset_tokens_used]  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  CONSTRAINT [DF_refresh_tokens_revoked]  DEFAULT ((0)) FOR [revoked]
GO
ALTER TABLE [dbo].[task_comments] ADD  CONSTRAINT [DF_task_comments_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[task_comments] ADD  CONSTRAINT [DF_task_comments_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[activity_logs]  WITH CHECK ADD  CONSTRAINT [FK5bm1lt4f4eevt8lv2517soakd] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[activity_logs] CHECK CONSTRAINT [FK5bm1lt4f4eevt8lv2517soakd]
GO
ALTER TABLE [dbo].[activity_logs]  WITH CHECK ADD  CONSTRAINT [FKtoru9k6tjr6ifdjhood8onue8] FOREIGN KEY([task_id])
REFERENCES [dbo].[tasks] ([id])
GO
ALTER TABLE [dbo].[activity_logs] CHECK CONSTRAINT [FKtoru9k6tjr6ifdjhood8onue8]
GO
ALTER TABLE [dbo].[attachments]  WITH CHECK ADD  CONSTRAINT [fk_attachments_uploaded_by] FOREIGN KEY([uploaded_by_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[attachments] CHECK CONSTRAINT [fk_attachments_uploaded_by]
GO
ALTER TABLE [dbo].[attachments]  WITH CHECK ADD  CONSTRAINT [FKq4u9ne3x0xtpc5d2jdddv1ii7] FOREIGN KEY([task_id])
REFERENCES [dbo].[tasks] ([id])
GO
ALTER TABLE [dbo].[attachments] CHECK CONSTRAINT [FKq4u9ne3x0xtpc5d2jdddv1ii7]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [fk_notifications_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [fk_notifications_user]
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD  CONSTRAINT [FK_PASSWORD_RESET_TOKEN_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[password_reset_tokens] CHECK CONSTRAINT [FK_PASSWORD_RESET_TOKEN_USER]
GO
ALTER TABLE [dbo].[project_members]  WITH CHECK ADD  CONSTRAINT [fk_project_members_project_id] FOREIGN KEY([project_id])
REFERENCES [dbo].[projects] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[project_members] CHECK CONSTRAINT [fk_project_members_project_id]
GO
ALTER TABLE [dbo].[project_members]  WITH CHECK ADD  CONSTRAINT [fk_project_members_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[project_members] CHECK CONSTRAINT [fk_project_members_user_id]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [FK_REFRESH_TOKEN_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [FK_REFRESH_TOKEN_USER]
GO
ALTER TABLE [dbo].[task_comments]  WITH CHECK ADD  CONSTRAINT [fk_task_comments_parent_id] FOREIGN KEY([parent_id])
REFERENCES [dbo].[task_comments] ([id])
GO
ALTER TABLE [dbo].[task_comments] CHECK CONSTRAINT [fk_task_comments_parent_id]
GO
ALTER TABLE [dbo].[task_comments]  WITH CHECK ADD  CONSTRAINT [fk_task_comments_task_id] FOREIGN KEY([task_id])
REFERENCES [dbo].[tasks] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[task_comments] CHECK CONSTRAINT [fk_task_comments_task_id]
GO
ALTER TABLE [dbo].[task_comments]  WITH CHECK ADD  CONSTRAINT [fk_task_comments_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[task_comments] CHECK CONSTRAINT [fk_task_comments_user_id]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FKekr1dgiqktpyoip3qmp6lxsit] FOREIGN KEY([assignee_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FKekr1dgiqktpyoip3qmp6lxsit]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FKsfhn82y57i3k9uxww1s007acc] FOREIGN KEY([project_id])
REFERENCES [dbo].[projects] ([id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FKsfhn82y57i3k9uxww1s007acc]
GO
ALTER TABLE [dbo].[user_positions]  WITH CHECK ADD  CONSTRAINT [FK49ffcx0xclhe2oof19cty66v0] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_positions] CHECK CONSTRAINT [FK49ffcx0xclhe2oof19cty66v0]
GO
ALTER TABLE [dbo].[user_positions]  WITH CHECK ADD  CONSTRAINT [FKqieyn6an8qsrf02uvgsieege6] FOREIGN KEY([position_id])
REFERENCES [dbo].[positions] ([id])
GO
ALTER TABLE [dbo].[user_positions] CHECK CONSTRAINT [FKqieyn6an8qsrf02uvgsieege6]
GO
