USE [task_management]
GO
/****** Object:  Table [dbo].[activity_logs]    Script Date: 6/22/2026 4:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[action] [nvarchar](100) NULL,
	[created_at] [datetime2](6) NULL,
	[description] [nvarchar](max) NULL,
	[task_id] [bigint] NULL,
	[user_id] [bigint] NULL,
 CONSTRAINT [PK_ACTIVITY_LOGS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attachments]    Script Date: 6/22/2026 4:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attachments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[file_name] [nvarchar](255) NULL,
	[file_path] [nvarchar](500) NULL,
	[uploaded_at] [datetime2](6) NULL,
	[task_id] [bigint] NULL,
	[file_size] [bigint] NULL,
	[file_type] [varchar](100) NULL,
 CONSTRAINT [PK_ATTACHMENTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATABASECHANGELOG]    Script Date: 6/22/2026 4:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATABASECHANGELOG](
	[ID] [nvarchar](255) NOT NULL,
	[AUTHOR] [nvarchar](255) NOT NULL,
	[FILENAME] [nvarchar](255) NOT NULL,
	[DATEEXECUTED] [datetime2](3) NOT NULL,
	[ORDEREXECUTED] [int] NOT NULL,
	[EXECTYPE] [nvarchar](10) NOT NULL,
	[MD5SUM] [nvarchar](35) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[COMMENTS] [nvarchar](255) NULL,
	[TAG] [nvarchar](255) NULL,
	[LIQUIBASE] [nvarchar](20) NULL,
	[CONTEXTS] [nvarchar](255) NULL,
	[LABELS] [nvarchar](255) NULL,
	[DEPLOYMENT_ID] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATABASECHANGELOGLOCK]    Script Date: 6/22/2026 4:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATABASECHANGELOGLOCK](
	[ID] [int] NOT NULL,
	[LOCKED] [bit] NOT NULL,
	[LOCKGRANTED] [datetime2](3) NULL,
	[LOCKEDBY] [nvarchar](255) NULL,
 CONSTRAINT [PK_DATABASECHANGELOGLOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 6/22/2026 4:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[is_read] [bit] NULL,
	[message] [nvarchar](max) NULL,
	[title] [varchar](255) NULL,
	[type] [varchar](255) NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 6/22/2026 4:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[token] [varchar](255) NULL,
	[expiry_date] [datetimeoffset](6) NULL,
	[created_at] [datetime2](6) NULL,
	[user_id] [bigint] NOT NULL,
	[used] [bit] NOT NULL,
 CONSTRAINT [PK_PASSWORD_RESET_TOKENS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[positions]    Script Date: 6/22/2026 4:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_POSITIONS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[projects]    Script Date: 6/22/2026 4:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projects](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[end_date] [date] NULL,
	[project_code] [varchar](255) NOT NULL,
	[project_name] [varchar](255) NOT NULL,
	[start_date] [date] NULL,
	[status] [varchar](255) NULL,
 CONSTRAINT [PK_PROJECTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_tokens]    Script Date: 6/22/2026 4:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[token] [varchar](255) NULL,
	[expiry_date] [datetimeoffset](6) NULL,
	[created_at] [datetime2](6) NULL,
	[user_id] [bigint] NOT NULL,
	[revoked] [bit] NOT NULL,
 CONSTRAINT [PK_REFRESH_TOKENS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 6/22/2026 4:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[name] [varchar](255) NOT NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 6/22/2026 4:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NULL,
	[due_date] [date] NULL,
	[priority] [varchar](255) NULL,
	[start_date] [date] NULL,
	[status] [varchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[assignee_id] [bigint] NULL,
	[project_id] [bigint] NULL,
 CONSTRAINT [PK_TASKS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_positions]    Script Date: 6/22/2026 4:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_positions](
	[user_id] [bigint] NOT NULL,
	[position_id] [bigint] NOT NULL,
 CONSTRAINT [PK_USER_POSITIONS] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 6/22/2026 4:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL,
 CONSTRAINT [PK_USER_ROLES] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/22/2026 4:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NULL,
	[full_name] [nvarchar](100) NULL,
	[password] [varchar](255) NULL,
	[phone] [varchar](20) NULL,
	[status] [bit] NULL,
	[username] [varchar](50) NULL,
	[active] [bit] NULL,
	[created_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[activity_logs] ON 

INSERT [dbo].[activity_logs] ([id], [action], [created_at], [description], [task_id], [user_id]) VALUES (1, N'CREATE_TASK', CAST(N'2026-06-22T06:51:22.1196350' AS DateTime2), N'Created task: Login', 1, 2)
INSERT [dbo].[activity_logs] ([id], [action], [created_at], [description], [task_id], [user_id]) VALUES (2, N'CREATE_TASK', CAST(N'2026-06-22T06:52:48.1857170' AS DateTime2), N'Created task: Task Management System', 2, 1)
SET IDENTITY_INSERT [dbo].[activity_logs] OFF
GO
INSERT [dbo].[DATABASECHANGELOG] ([ID], [AUTHOR], [FILENAME], [DATEEXECUTED], [ORDEREXECUTED], [EXECTYPE], [MD5SUM], [DESCRIPTION], [COMMENTS], [TAG], [LIQUIBASE], [CONTEXTS], [LABELS], [DEPLOYMENT_ID]) VALUES (N'1', N'phong', N'db/changelog/001-create-roles.xml', CAST(N'2026-06-22T06:39:35.2100000' AS DateTime2), 1, N'EXECUTED', N'9:580fbc4d26dcb717b6042be6bb798337', N'createTable tableName=roles; insert tableName=roles; insert tableName=roles; insert tableName=roles', N'', NULL, N'4.31.1', NULL, NULL, N'2110373908')
INSERT [dbo].[DATABASECHANGELOG] ([ID], [AUTHOR], [FILENAME], [DATEEXECUTED], [ORDEREXECUTED], [EXECTYPE], [MD5SUM], [DESCRIPTION], [COMMENTS], [TAG], [LIQUIBASE], [CONTEXTS], [LABELS], [DEPLOYMENT_ID]) VALUES (N'2', N'phong', N'db/changelog/002-create-positions.xml', CAST(N'2026-06-22T06:39:35.2300000' AS DateTime2), 2, N'EXECUTED', N'9:a6198cc704a34674bc3376c4cfa715ae', N'createTable tableName=positions; insert tableName=positions; insert tableName=positions; insert tableName=positions', N'', NULL, N'4.31.1', NULL, NULL, N'2110373908')
GO
INSERT [dbo].[DATABASECHANGELOGLOCK] ([ID], [LOCKED], [LOCKGRANTED], [LOCKEDBY]) VALUES (1, 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [created_at], [is_read], [message], [title], [type], [user_id]) VALUES (1, CAST(N'2026-06-22T06:51:22.1257610' AS DateTime2), 0, N'You have been assigned task: Login', N'New Task Assigned', N'TASK_ASSIGN', 2)
INSERT [dbo].[notifications] ([id], [created_at], [is_read], [message], [title], [type], [user_id]) VALUES (2, CAST(N'2026-06-22T06:52:48.1885770' AS DateTime2), 0, N'You have been assigned task: Task Management System', N'New Task Assigned', N'TASK_ASSIGN', 1)
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[positions] ON 

INSERT [dbo].[positions] ([id], [description], [name]) VALUES (1, N'Java Spring Boot Developer', N'Backend Developer')
INSERT [dbo].[positions] ([id], [description], [name]) VALUES (2, N'ReactJS Developer', N'Frontend Developer')
INSERT [dbo].[positions] ([id], [description], [name]) VALUES (3, N'Software Tester', N'QA Tester')
SET IDENTITY_INSERT [dbo].[positions] OFF
GO
SET IDENTITY_INSERT [dbo].[projects] ON 

INSERT [dbo].[projects] ([id], [description], [end_date], [project_code], [project_name], [start_date], [status]) VALUES (1, N'Spring Boot Internship Project', CAST(N'2026-08-01' AS Date), N'PRJ001', N'Task Management System', CAST(N'2026-06-01' AS Date), N'IN_PROGRESS')
INSERT [dbo].[projects] ([id], [description], [end_date], [project_code], [project_name], [start_date], [status]) VALUES (2, N'Authentication Module', CAST(N'2026-07-12' AS Date), N'PRJ002', N'Authentication Module', CAST(N'2026-06-22' AS Date), N'PLANNING')
INSERT [dbo].[projects] ([id], [description], [end_date], [project_code], [project_name], [start_date], [status]) VALUES (3, N'JWT Authentication API', CAST(N'2026-06-10' AS Date), N'PRJ003', N'JWT Authentication', CAST(N'2026-06-01' AS Date), N'COMPLETED')
SET IDENTITY_INSERT [dbo].[projects] OFF
GO
SET IDENTITY_INSERT [dbo].[refresh_tokens] ON 

INSERT [dbo].[refresh_tokens] ([id], [token], [expiry_date], [created_at], [user_id], [revoked]) VALUES (1, N'598a38b6-4ada-44a6-9cd2-d9ae4c1283fa', CAST(N'2026-06-29T07:44:04.7854910+00:00' AS DateTimeOffset), CAST(N'2026-06-22T07:44:04.7882730' AS DateTime2), 1, 1)
INSERT [dbo].[refresh_tokens] ([id], [token], [expiry_date], [created_at], [user_id], [revoked]) VALUES (2, N'4357c819-3fc8-4179-953e-b7712ca801aa', CAST(N'2026-06-29T07:59:50.7146130+00:00' AS DateTimeOffset), CAST(N'2026-06-22T07:59:50.7148390' AS DateTime2), 3, 0)
INSERT [dbo].[refresh_tokens] ([id], [token], [expiry_date], [created_at], [user_id], [revoked]) VALUES (3, N'bce6de1a-8f22-4dd6-89f2-2c8f41ff09ae', CAST(N'2026-06-29T08:00:35.3724700+00:00' AS DateTimeOffset), CAST(N'2026-06-22T08:00:35.3725600' AS DateTime2), 1, 1)
SET IDENTITY_INSERT [dbo].[refresh_tokens] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [description], [name]) VALUES (1, N'Administrator', N'ADMIN')
INSERT [dbo].[roles] ([id], [description], [name]) VALUES (2, N'Project Manager', N'MANAGER')
INSERT [dbo].[roles] ([id], [description], [name]) VALUES (3, N'Employee', N'EMPLOYEE')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[tasks] ON 

INSERT [dbo].[tasks] ([id], [description], [due_date], [priority], [start_date], [status], [title], [assignee_id], [project_id]) VALUES (1, N'Completed JWT', CAST(N'2026-06-08' AS Date), N'HIGH', CAST(N'2026-06-02' AS Date), N'DONE', N'Login', 2, 3)
INSERT [dbo].[tasks] ([id], [description], [due_date], [priority], [start_date], [status], [title], [assignee_id], [project_id]) VALUES (2, N'Project', CAST(N'2026-06-30' AS Date), N'HIGH', CAST(N'2026-05-29' AS Date), N'IN_PROGRESS', N'Task Management System', 1, 1)
INSERT [dbo].[tasks] ([id], [description], [due_date], [priority], [start_date], [status], [title], [assignee_id], [project_id]) VALUES (6, N'Implement CRUD APIs for users', CAST(N'2026-06-08' AS Date), N'HIGH', CAST(N'2026-06-01' AS Date), N'DONE', N'Create User API', 2, 1)
SET IDENTITY_INSERT [dbo].[tasks] OFF
GO
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (2, 2)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [full_name], [password], [phone], [status], [username], [active], [created_at], [updated_at]) VALUES (1, N'phonghuuho204@gmail.com', N'Administrator', N'$2a$10$y50S3U618jlSzZ90vvkw2.zq1ijrWu.tTGbr5Qt/bPPzyPLv3rtai', N'0913907125', NULL, N'admin', 1, CAST(N'2026-06-22T06:39:40.2501650' AS DateTime2), CAST(N'2026-06-22T06:45:07.7290680' AS DateTime2))
INSERT [dbo].[users] ([id], [email], [full_name], [password], [phone], [status], [username], [active], [created_at], [updated_at]) VALUES (2, N'phonghuuho204@gmail.com', N'Hồ Phong', N'$2a$10$wQA/b2ls0VwouylydcCBxe6OqtpvvNiSt7zbza/lhRjOKC/0XN3.C', N'0913907125', NULL, N'manager', 1, CAST(N'2026-06-22T06:44:48.8102490' AS DateTime2), CAST(N'2026-06-22T06:44:48.8102590' AS DateTime2))
INSERT [dbo].[users] ([id], [email], [full_name], [password], [phone], [status], [username], [active], [created_at], [updated_at]) VALUES (3, N'nguyenvana@gmail.com', N'Nguyễn Văn A', N'$2a$10$s523g27OBguwFI2jy4qiL.aBVp0OI04H9EQZE/FBs84ZhvvRpnMwO', N'0911111111', NULL, N'nguyenvana', 1, CAST(N'2026-06-22T06:45:43.0745410' AS DateTime2), CAST(N'2026-06-22T06:45:43.0745450' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK1batb7mq0elcfcs3d6maqo6sg]    Script Date: 6/22/2026 4:02:56 PM ******/
ALTER TABLE [dbo].[projects] ADD  CONSTRAINT [UK1batb7mq0elcfcs3d6maqo6sg] UNIQUE NONCLUSTERED 
(
	[project_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKofx66keruapi6vyqpv6f2or37]    Script Date: 6/22/2026 4:02:56 PM ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UKofx66keruapi6vyqpv6f2or37] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  CONSTRAINT [DF_password_reset_tokens_used]  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  CONSTRAINT [DF_refresh_tokens_revoked]  DEFAULT ((0)) FOR [revoked]
GO
ALTER TABLE [dbo].[activity_logs]  WITH CHECK ADD  CONSTRAINT [FK5bm1lt4f4eevt8lv2517soakd] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[activity_logs] CHECK CONSTRAINT [FK5bm1lt4f4eevt8lv2517soakd]
GO
ALTER TABLE [dbo].[activity_logs]  WITH CHECK ADD  CONSTRAINT [FKtoru9k6tjr6ifdjhood8onue8] FOREIGN KEY([task_id])
REFERENCES [dbo].[tasks] ([id])
GO
ALTER TABLE [dbo].[activity_logs] CHECK CONSTRAINT [FKtoru9k6tjr6ifdjhood8onue8]
GO
ALTER TABLE [dbo].[attachments]  WITH CHECK ADD  CONSTRAINT [FKq4u9ne3x0xtpc5d2jdddv1ii7] FOREIGN KEY([task_id])
REFERENCES [dbo].[tasks] ([id])
GO
ALTER TABLE [dbo].[attachments] CHECK CONSTRAINT [FKq4u9ne3x0xtpc5d2jdddv1ii7]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK9y21adhxn0ayjhfocscqox7bh] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK9y21adhxn0ayjhfocscqox7bh]
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD  CONSTRAINT [FK_PASSWORD_RESET_TOKEN_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[password_reset_tokens] CHECK CONSTRAINT [FK_PASSWORD_RESET_TOKEN_USER]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [FK_REFRESH_TOKEN_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [FK_REFRESH_TOKEN_USER]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FKekr1dgiqktpyoip3qmp6lxsit] FOREIGN KEY([assignee_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FKekr1dgiqktpyoip3qmp6lxsit]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FKsfhn82y57i3k9uxww1s007acc] FOREIGN KEY([project_id])
REFERENCES [dbo].[projects] ([id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FKsfhn82y57i3k9uxww1s007acc]
GO
ALTER TABLE [dbo].[user_positions]  WITH CHECK ADD  CONSTRAINT [FK49ffcx0xclhe2oof19cty66v0] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_positions] CHECK CONSTRAINT [FK49ffcx0xclhe2oof19cty66v0]
GO
ALTER TABLE [dbo].[user_positions]  WITH CHECK ADD  CONSTRAINT [FKqieyn6an8qsrf02uvgsieege6] FOREIGN KEY([position_id])
REFERENCES [dbo].[positions] ([id])
GO
ALTER TABLE [dbo].[user_positions] CHECK CONSTRAINT [FKqieyn6an8qsrf02uvgsieege6]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FKh8ciramu9cc9q3qcqiv4ue8a6] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FKh8ciramu9cc9q3qcqiv4ue8a6]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FKhfh9dx7w3ubf1co1vdev94g3f] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FKhfh9dx7w3ubf1co1vdev94g3f]
GO
